*.pkl filter=lfs diff=lfs merge=lfs -text
closed_form_linear_regression_project/src/preprocessing/data/sp500_data_with_details/sp500_data_with_details.pkl filter=lfs diff=lfs merge=lfs -text
closed_form_linear_regression_project/src/preprocessing/data/sp500_data_with_detail/* filter=lfs diff=lfs merge=lfs -text
